/* 
*{
    margin-left :70px
} */
  table {
    margin-left :70px;
    margin-left: 50px;
    border: 2px solid rgb(9, 12, 9);
    width: 400px;
    height: 100px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }